<h2 class="dog-name"><%= dog.name %></h2>
<%= render partial: 'likes', locals: { dog: dog }%>

<a href="<%= url_for(dog) %>">
  <article>
    <%= image_tag url_for(dog.images.first), class: "dog-photo", alt: "Photo of #{dog.name}" %>
  </article>
</a>
